@import url("_styles-thrid-try.css");


.jackets-main-container {
    width: 100%;
    height: auto;
}

.jackets-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content: center;
}

.jacket-list {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text-list-jacket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-list-jacket span {
    display: inline-flex;
    flex-direction: row;
    justify-items: space-between;
}
