@import url("styles.css");


.jackets-main-container {
    width: 100%;
}

.jackets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.jackets-main-container h2 {
    margin-left: 2rem;
}

.jacket-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 3rem;
    flex-wrap: wrap;
}

.jacket-list h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    padding-bottom: 0.25em;
    padding-top: 1rem;
}

.text-list-jacket {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.spandiv {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 2rem;
}

.text-list-jacket img {
    margin-left: 1.5rem;
}

.text-list-jacket p {
    font-size: 1.5rem;
    font-weight: 600;
}

.text-list-jacket h3 {
    font-size: 2.5rem;
}

#color-radio-checkbox-all-products input[type="radio"]{
    width: 0.65em;
    height: 0.65em;
    margin-top: 0.13em;
}

@media screen and (max-width: 1024px) {
    .img-list-jacket img {
        max-width: 325px;
    }
}
