
fieldset {
    margin: 0;
    padding: 1rem 10%;
    border: 0;
}

legend {
    font-size: 2rem;
    font-weight: bold;
}

.column-payment-methods, .preferred-shipping-element {
    width: 80%;
    background-color: #C7D6DEB2;
    margin-bottom: 0.75rem;
    padding: 1rem;
}

.shipping-element input {
    width: 80%;
    background-color: #C7D6DEB2;
    margin-bottom: 0.75rem;
    display: block;
    padding: 1rem;
    border: none;
}

.shipping-element label {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

#medium-btn-red-confirm-order {
    display: inline-block;
    margin-bottom: 1.3rem;
    margin-left: 10%;
}

.container-payment-methods h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 1rem 10%;
    border: 0;
}

.preferred-shipping-element {
    display: inline-grid;
    column-gap: 0.5rem;
    grid-template-columns: 1rem 3fr 1fr;
    align-items: center;
}
