@import url("_styles-thrid-try.css");

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


.sustainability-holder {
    display: flex;
    flex-direction: column;
}

.sustainability-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(assets/images/sustainability.jpg);
    align-items: flex-start;
    background-repeat: no-repeat;
    height: 25rem;
    width: cover;
}

.sustainability-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 10%;
    gap: 1rem;
}

.sustainability-elements h2 {
    color: black;
}

.sustainability-elements p {
    color: black;
    width: 70%;
    line-height: normal;
    font-family: Montserrat;
    font-size: 1.3rem;
}
