* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: Montserrat, sans-serif;
    min-height: 100vh;

    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 52px 80px auto auto auto;
    grid-template-areas:
        "st st st st"
        "hd hd hd hd"
        "mn mn mn mn"
        "mn mn mn mn"
        "ft ft ft ft";
}

.element {
    background-color: white;
    display: grid;
    place-content: center;
}

.section {
    grid-area: st;
    background-color: #C7D6DE;
    color: black;
    display: grid;
    place-content: center;
    font-size: 18px;
    /* max-height: 52px; */
}

.section:first-child li {
    float: left;
    display: grid;
    margin-right: 36px;

    justify-content: center;
    list-style-type: none;
    overflow: auto;
}

/* .top-part-devider-deliveries-eg ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: -1.5px 5029px -0.5px 0px;
    margin: 0;
    font-size: 20px;
    max-height: 132px;
    width: 100%;
    overflow: auto;
    } */


.header {
    grid-area: hd;
    background-color: #0A3641;
    color: white;
    font-size: 20px;
    /* max-height: 80px; */
}

.header:first-child {
    background-color: #0A3641;
    grid-column: 1 / 6;
    grid-row: auto;
    padding: none;

    display: grid;
    place-content: center;
    padding:none;
}

.footer {
    grid-area: ft;
    background-color: #0A3641;
    color:white
}

.main-content {
    grid-area: mn;
    background-color: white;
    display: grid;
    place-content: center;
    height: 100%;
}

.container {
    width: 100%;
}

.box {
    background-color: white;
    color: black;
    font-size: 1rem;
}

.box:first-child {
    grid-column: 1 / 6;
    grid-row: auto;
    padding: none;

    display: grid;
    place-content: center;
    padding:none;
}

.box:nth-child(2) {
    grid-column: 1 / 6;
    grid-row: auto;
    padding:none;

    display: grid;
    place-content: center;
    padding:none;
}

.box:nth-child(3) {
    grid-column: 1 / auto;
    grid-row: auto;
    padding:none;

    display: grid;
    place-content: center;
}

.box:nth-child(4) {
    font-size: 1.5rem;
    grid-column: 1 / 6;
    grid-row: auto;

    display: grid;
    place-content: center;
}

.box:nth-child(5) {
    grid-column: 1 / 6;
    grid-row: auto;

    display: grid;
    place-content: center;
}

.box:nth-child(6) {
    grid-column: 1 / 6;
    grid-row: auto;

    display: grid;
    place-content: center;
}

