
.container {
    padding: 2rem 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.where-we-started-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 2.5em;
}

.sustainability-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.sustainability-container p {
    color: white;
}

.sustainability-elements {
    padding: 10%;
}

#sustainability h2, #responsibility h2, #quality h2 {
    font-size: 2.5rem;
}

#sustainability {
    background-image: url(../../assets/images/sustainability.jpg);
    }

#responsibility {
    background-image: url(../../assets/images/second-imag-about-us.jpg);
}

#quality {
    background-image: url(../../assets/images/thrid-img-about-us.jpg);
}
