.product-container, .img-container-jacket{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
    padding: 1rem 5% 1.3rem;
    align-items: center;
}

.img-container-jacket img {
    width: 100%;
}

.product-text-container {
    width: fit-content;
}

.product-text h2 {
    margin-bottom: 2%;
}

.product-text p {
    font-size: xx-large;
    font-weight: 500;
}

.product-description-container h2 {
    margin-left: 5%;
}

.product-description-container {
    margin-bottom: 2rem;
}

#sizes-checkbox-container, #size-container {
    margin-bottom: 1rem;
}

.product-size-container label{
    padding: 1rem 0.25rem 1rem;
}

.color-radio-checkbox {
    display: flex;
    flex-direction: row   ;
}

.form {
    display: flex;
    place-content: center;
    min-height: 100vh;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-left: 1rem;
}

.form-control + .form-control {
    margin-top: 1em;
}

.form-control:focus-within {
    color: var(--form-background);
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: #C7D6DE;
    width: 1.3em;
    height: 1.3em;
    border: 0.25em solid #C7D6DE;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-background);
    /* Windows High Contrast Mode */
    background-color: #C7D6DE;
}

input[type="radio"]::before {
    transform: scale(0);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

#button-heart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

#medium-btn-red-jacket-page {
    margin-left: -0rem;
}
.product-text-under-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 1rem;
    border-bottom: 0.1rem solid black;
    justify-content: space-evenly;
}

.costumer-reviews {
    padding: 1rem 0 1rem;
}

.costumer-reviews-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 0.1rem solid black;
    margin: 1rem 1rem;
    padding: 1rem;
}

