/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import url("_nav-bar.css");
/* design for small buttons */
@import url("_buttons-small.css");

@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat/static/Montserrat-Regular.ttf)
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  box-sizing: border-box;
  line-height: normal;
  color: black;
}
/*This is the font-size: for the banner index.html */
h1 {
  font-size: 96px;
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 104%;
  letter-spacing: 3.9px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
}

/* This is the hero banner for the index.html */
/* .hero-image {
  grid-template-areas:"header header2 header 3 header 4";
  background-image: url("pictures rainy days/banner_image.jpg");
  height: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.hero-text {
  grid-template-areas: "header header2 header 3 header 4";
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
}

